	<meta charset="UTF-8">
	<meta name="description" content="Seyoum beyene construction Management Consulting">
	<meta name="keywords" content="consulting, architecture, creative, html, construction">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- Page Preloder 
	<div id="preloder">
		<div class="loader"></div>
	</div>-->
<style type="text/css">
	.mission-area{
		text-align: center;
	}
	.title-about-us{
		text-decoration: underline;
	}
</style>
	<!-- Page header section start -->
	<section class="page-header-section set-bg">
		<div class="container">
			<h1 class="header-title">About us<span>.</span></h1>
		</div>
		<div class="slide-num-holder" id="snh-1"></div>
		<div class="hero-right-text"><span style="color: black;">Seyoum</span> Beyene</div>
	</section>
	<!-- Page header section end -->

	<!-- Intro section start -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 intro-text">
					<h1>We are a Construction Consulting<span style="color: white;">Company</span></h1>
					<div class="row">
						<div class="col-md-6">
							<p>Seyoum Beyene Construction consultants help clients make sound preparations for their upcoming projects and ensure that contractors complete the project on cost. They provide cost estimates, draw budgets, select contractors, administer construction contracts, and resolve differences between contractors and project owners. This position is suitable for civil engineers or architects with extensive construction experience.We are excellent planners with strong cost estimation skills. During the design stage of a mixed building project, for example, the consultant studies the building plan, estimates total projects costs and helps the owner establish a sound construction budget. </p>
						</div>
						<div class="col-md-6">
							<p>We also have strong speaking skills to explain technical information to clients in an understandable manner, and teamwork skills to effectively collaborate with contractors and other personnel involved in the project.Preparing Contracts and Selecting Contractors
It is the job of the construction consultant to prepare and issue contracts to construction companies on behalf of the project owner. After the owner receives bids from various contractors, the consultant reviews them and helps to determine the most competitive bidder. To do this, she reviews the stated prices and level of construction experience of each bidder before reaching a decision. The consultant may hold negotiations with the selected bidder to reach an agreement on the contract's terms and conditions.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<%=image_tag("2.jpg", alt: "About image 1") %>
				</div>
			</div><hr>
		</div>
	</section>
	<!-- Intro section end -->
	<!-- Mission Section start-->
	<section class="mission-area">
	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
	 	<div class="row">
	 		<center>
	 			<h1 class="title-about-us">How We <span style="color: white;">Started</span></h1>
	 		</center>
	 	</div>
            <div class="about-history-content" style="text-align: center;">
               <p>Our modern and duly tailored management system supports our team in particular and majority of our service recipients in general to organize, mobilise, monitor, supervise and report all operations that the company is undertaking.
With attentively controlled Quality Management Systems and an uncompromising work ethic, our service delivery points, control and supervisory team are availed and situated at a closer distance to each and every service recipient facilities as to be a.</p>
            </div>
    </div>
</section>
	<!-- Mission section end-->
<hr>

	<!-- Team section start -->
	<section class="team-section spad">
		<div class="container">
			<div class="section-title mb100">
				<hr>
				<h1 style="color: white;">The Team</h1>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="team-member">
						<%=image_tag("/assets/icon1.png", alt: "About image team") %>
						<div class="member-info">
							<h2>seyoum Beyene</h2>
							<p>Senior enginner</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-member">
						<%=image_tag("/assets/icon1.png", alt: "About image team") %>
						<div class="member-info">
							<h2>seyoum Beyene</h2>
							<p>Senior enginner</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-member">
						<%=image_tag("/assets/icon1.png", alt: "About image team") %>
						<div class="member-info">
							<h2>seyoum Beyene</h2>
							<p>Senior enginner</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team section end -->


<section class="promo-section pt-0">
		<div class="promo-box set-bg" data-setbg="img/bg.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 promo-text">
						<h1>In need of a <span style="color: white;">Consultant</span> for your building or home?</h1>
					</div>
					<div class="col-lg-3 text-lg-right">
					<%= link_to("Get in Touch", new_contact_path,  class: "site-btn sb-light mt-4" )%>
				</div>
				</div>
			</div>
		</div>
	</section>
