	<meta charset="UTF-8">
	<meta name="description" content="Seyoum beyene construction Management Consulting">
	<meta name="keywords" content="consulting, architecture, onepage, creative, html, construction">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">


	<!-- Page Preloder
	<div id="preloder">
		<div class="loader"></div>
	</div>-->




	<!-- Hero section start -->
	<section class="hero-section">
		<!-- left social link ber -->
		<div class="left-bar">
			<div class="left-bar-content">
				<div class="social-links">
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
			</div>
		</div>
		<!-- hero slider area -->
		<div class="hero-slider" style="background-image: url(assets/cta-img.jpg);">
			<div class="hero-slide-item">
				<div class="slide-inner">
					<div class="content" style="text-align: center;">
					<h2 class="sp-title" style="color: white; font-family: CenturyGothic">
					<span style="background-color: #295498;">Seyoum Beyene</span> <br><span style="background-color: #295498;">Construction Management Consultant</span></h2>
					<%= link_to("About Us", static_pages_about_us_path,  class: "site-btn sb-light" )%>
					<%= link_to("See Projects", portofolios_path,  class: "site-btn sb-light" )%>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-num-holder" id="snh-1"></div>
		<div class="hero-right-text">Seyoum Beyene</div>
	</section>
	<!-- Hero section end -->


	<!-- Intro section start -->
	<section class="intro-section pt100 pb50">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 intro-text mb-5 mb-lg-0">
					<h2 class="sp-title">
					We are a <span style="background-color: #295498; color: white;">Construction</span>
					 <span style="background-color: #295498; color: white;">Management </span>& Consulting<span style="background-color: #295498; color: white;">Company</span></h2>
					<p>Seyoum Beyene construction management firm has been carrying out wide range of services throughout the country since 1988(E.C). The firm has been assigned and works for diffrent multi projects with various clients and consultants with a major Activities and duties. </p>
					<%= link_to("More About Us", static_pages_about_us_path,  class: "site-btn sb-dark" )%>
				</div>
				<div class="col-lg-5 pt-4">
					<%= image_tag("intro.png", alt: "Edit Entry") %>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->

<hr>
	<!-- Service section start -->
	<section class="service-section spad">
		<div class="container">
			<div class="section-title">
				<h2 style="background-color: #295498; color: white;">Services</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/1.png", alt: "Supervision") %>
							</div>
						</div>
						<h3>Supervision</h3>
						<p>Supervision to determine risks, conduct regular inspections & maintain a safety programme.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/2.png", alt: "Contact Administration") %>
							</div>
						</div>
						<h3>Contract Administration</h3>
						<p>Contract administration involves making decisions and the timely flow of information .</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/3.png", alt: "Contact review") %>
							</div>
						</div>
						<h3>Contract review</h3>
						<p> Review the legal documents to break down the terms and conditions defined in the agreement.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/4.png", alt: "Tendering") %>
							</div>
						</div>
						<h3>Tendering</h3>
						<p>Submitting a proposal (tender) to undertake, or manage the undertaking of a construction project.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/5.png", alt: "Quality surveying") %>
							</div>
						</div>
						<h3>Quality surveying</h3>
						<p>A team of professional advisers to the construction industry.As advisers they estimate and monitor construction costs, from the feasibility stage of a project through to the completion of the construction period.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/6.png", alt: "Design") %>
							</div>
						</div>
						<h3>Design</h3>
						<p>Deliver a project in which the design and construction services are contracted by a single entity known as the design–builder or design–build contractor.</p>
					</div>
				</div>

			</div>
		</div>
		<center>
		<%= link_to("Read More About Us", static_pages_about_us_path,  class: "site-btn sb-dark" )%>
	</center>
	</section>
	<!-- Service section end -->



	<!-- CTA section start -->
	<section class="cta-section pt100 pb50">
		<div class="cta-image-box" style=" background-image: url(/assets/home-banner-2.jpg); ">
			<div class="cta-icons">
				<br>
				<br>
				<br>
						<div class="cta-img-icon">
							<%= image_tag("/assets/icon/dark/1.png", alt: "img1") %>
						</div>
						<br>
						<div class="cta-img-icon">
							<%= image_tag("/assets/icon/dark/2.png", alt: "img2") %>
						</div>
						<br>
						<div class="cta-img-icon">
							<%= image_tag("/assets/icon/dark/3.png", alt: "img3") %>
						</div>
					</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-7 pl-lg-0 offset-lg-5 cta-content" >
					<h2 class="sp-title" style="color: #295498">Dare to dream of a modern <span>Building</span></h2>
					<p></p>
					<!--<div class="cta-icons">
						<div class="cta-img-icon">
							<%= image_tag("/assets/icon/color/1.png", alt: "img1") %>
						</div>
						<div class="cta-img-icon">
							<%= image_tag("/assets/icon/dark/2.png", alt: "img2") %>
						</div>
						<div class="cta-img-icon">
							<%= image_tag("/assets/icon/dark/3.png", alt: "img3") %>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<!-- CTA section end -->


	<!-- Milestones section Start -->
	<section class="milestones-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="milestone">
						<h2>14</h2>
						<p>Years <br>of <br>Experience</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="milestone">
						<h2>237</h2>
						<p>Projects <br>Taken</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="milestone">
						<h2>120</h2>
						<p>Projects<br>complets</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="milestone">
						<h2>12</h2>
						<p>Awards <br>Won</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Milestones section end -->
<hr>

	<!-- Projects section start -->
	<div class="projects-section pb50">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h1 style="color: white;">Projects Made</h1>
					</div>
				</div>
				<!--<div class="col-lg-9">
					<ul class="projects-filter-nav">
						<li class="btn-filter" data-filter="*">All</li>
						<li class="btn-filter" data-filter=".rest">Restaurations</li>
						<li class="btn-filter" data-filter=".build">Buildings</li>
						<li class="btn-filter" data-filter=".apart">Apartments</li>
					</ul>
				</div>-->
			</div>
		</div>
		<!--<div id="projects-carousel" class="projects-slider">
			<div class="single-project set-bg rest" style="background-image: url(assets/projects/1.jpg);background-repeat: no-repeat;">
				<div class="project-content">
					<h2>Biggest <br> Restaurations</h2>
					<p>Jan 19, 2018</p>
					<a href="#" class="seemore">See Project </a>
				</div>
			</div>
			<div class="single-project set-bg build" style="background-image: url(assets/projects/2.jpg);background-repeat: no-repeat;">
 					<h2>Office <br> Building</h2>
					<p>Jan 19, 2018</p>
					<a href="#" class="seemore">See Project </a>
				</div>
			</div>
			<div class="single-project set-bg apart" style="background-image: url(assets/projects/3.jpg);background-repeat: no-repeat;">
				<div class="project-content">
					<h2>Nice <br> Apartments</h2>
					<p>Jan 19, 2018</p>
					<a href="#" class="seemore">See Project </a>
				</div>
			</div>
		</div>-->
	<section id="projects-carousel" class="projects-slider">
     <div class="row">
        <% @portofolios.each do |f|%>
          <div class="col-sm-3 col-sm-offset-1 col-xs-12 ">
            <hr>
		        <div class="well " >
		        	<div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="blog-image col-xs-offset-1" style="width: 200px;height: 200px; ">
					<span style="width: 200px; height: 200px;" class="single-project set-bg rest">
						 <%= image_tag(f.project_photo.url(:small_thumbnail), alt: "#{f.project_name}") if !f.project_photo.nil? %>
						</span>
					</div>
            </div>
		            	<div class="row building-tag project-content">
		            	<strong class="building-tag">Project name:</strong>
		                <p  style="font-family: Serif;"><%=f.project_name%></p>
		                <strong class="building-tag">Location:</strong>
		                <p  style="font-family: Serif;"><%=f.location%></p>
		                <strong class="building-tag">Client:</strong>
		                <p  style="font-family: Serif;"><%=f.client%></p>
		            </div>
		            <div class="row building-tag project-content">
		            	<strong class="building-tag">Work at Hand:</strong>
		                <p  style="font-family: Serif;"><%=f.work_at_hand ? "yes" : "No"%></p>
		                <strong class="building-tag">Project Description:</strong>
		                <p  style="font-family: Serif;"><%=f.project_description%></p>
		            </div>
                </div>
       		 </div>
   		 <%end%>
   		    		 <center>
   		    		 	<hr>
		<%= link_to("See More Projects", portofolios_path,  class: "site-btn sb-dark" )%>
	</center>
    </div>
</section>

	</div>

		<!--<div class="container">
			<div id="projects-carousel" class="projects-slider">
				<div class="col-lg-9 offset-lg-3">
					<div class="row" >
						<div class="col-md-3">
							<div class="single-project set-bg rest" style="background-image: url(assets/projects/1.jpg); width: auto;">
								<div class="project-content">
									<h2>Biggest <br> Restaurations</h2>
									<p>Jan 19, 2018</p>
									<a href="#" class="seemore">See Project </a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-project set-bg build" style="background-image: url(assets/projects/2.jpg);width: auto;">
				<div class="project-content">
					<h2>Office <br> Building</h2>
					<p>Jan 19, 2018</p>
					<a href="#" class="seemore">See Project </a>
				</div>
			</div>
						</div>
						<div class="col-md-3" >
							<div class="single-project set-bg apart" style="background-image: url(assets/projects/3.jpg);width: auto;">
								<div class="project-content">
									<h2>Nice <br> Apartments</h2>
									<p>Jan 19, 2018</p>
									<a href="#" class="seemore">See Project </a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="single-project set-bg build" style="background-image: url(assets/projects/2.jpg);width: auto;">
				<div class="project-content">
					<h2>Office <br> Building</h2>
					<p>Jan 19, 2018</p>
					<a href="#" class="seemore">See Project </a>
				</div>
			</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	<!-- Projects section end -->

<hr>
	<!-- Clients section start -->
	<section id="twitter" class="parallax" style=" background-image: url(/assets/twitter-bg.jpg);">
    <div>

      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2" >
            <div class="twitter-icon text-center">
              <i class="fa fa-certificate fa-4x" style="color: #295498" ></i>
               <h4>What client’s say about our Services</h4>
            </div>
           <div id="twitter-carousel-service " class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
            <% @testimonies.each do |index| %>

               <div class='item <%= "active" if index == @testimonies.first %> twitter-icon text-center' style="text-transform: uppercase; font-weight: bold;">
                 <%= index.client_name %>

               <div>
                 <br><%= index.client_testimony %>
               </div>
<br>
               </div>

            <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

	<!-- Clients section end -->
