<!-- Page header section start -->
	<section class="page-header-section set-bg">
		<div class="container">
			<h1 class="header-title">Services<span>.</span></h1>
		</div>
		<div class="slide-num-holder" id="snh-1"></div>
		<div class="hero-right-text"><span style="color: black;">Seyoum</span> Beyene</div>

	</section>
	<!-- Page header section end -->



	<!-- Intro section start -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="service-slider">
						<div class="ss-single">
							<%= image_tag('service/1.jpg') %>
						</div>
					</div>
				</div>
				<div class="col-lg-7 service-text">
					<h2>We offer top quality project <span style="color: white;">Consulting</span></h2>
					
					<ol>
						<li>01.Construction Supervision and contract Adminstration.02.Supervise the compliance of any construction works to their Design.</li>
						<li>02.Supervise the compliance of any construction works to their Design.</li>
						<li>03.Quality Surveying.</li>
						<li>04.Valuation of Different Types of Building.</li>
						<li>05.Contract review, Cost Escalation and claim.</li>
						<li>06.Engage in Design Works.</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->


	<!-- Service box section start -->
	<div class="service-box-section spad set-bg" >
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="solid-service-box">
						<h2>01.</h2>
						<h3>DESIGN</h3>
						<p>A project delivery system used in the construction industry. It is a method to deliver a project in which the design and construction services are contracted by a single entity known as the design–builder or design–build contractor.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="solid-service-box">
						<h2>02.</h2>
						<h3>SUPERVISION</h3>
						<p>Supervision of a construction site in accordance with health and safety guidelines. It is the responsibility of the site supervisor to assess hazards, determine risks, conduct regular inspections, and maintain a safety programme.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="solid-service-box">
						<h2>03.</h2>
						<h3>CONTRACT ADMINISTRATION</h3>
						<p>Contract administration involves making decisions and the timely flow of information and decisions to enable completion of the project as required by the contract documents including review and observation of the construction project.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Service box section end -->


	<!-- Service section start -->
	<section class="service-section spad">
		<div class="container">
			<div class="section-title">
				<h2 style="background-color: #295498; color: white;">Services</h2>
				<hr style="background-color: : #295498">
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/1.png", alt: "Supervision") %>
							</div>
						</div>
						<h3>Supervision</h3>
						<p>upervision to determine risks, conduct regular inspections,& maintain a safety programme.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/2.png", alt: "Contact Administration") %>
							</div>
						</div>
						<h3>Contact Administration</h3>
						<p>Contract administration involves making decisions and the timely flow of information .</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/3.png", alt: "Contact review") %>
							</div>
						</div>
						<h3>Contract review</h3>
						<p> Review the legal documents to break down the terms and conditions defined in the agreement.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/4.png", alt: "Tendering") %>
							</div>
						</div>
						<h3>Tendering</h3>
						<p>Submitting a proposal (tender) to undertake, or manage the undertaking of a construction project.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/5.png", alt: "Quality surveying") %>
							</div>
						</div>
						<h3>Quality surveying</h3>
						<p>A team of professional advisers to the construction industry.As advisers they estimate and monitor construction costs, from the feasibility stage of a project through to the completion of the construction period.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-box">
						<div class="sb-icon">
							<div class="sb-img-icon">
								<%= image_tag("/assets/icon/dark/6.png", alt: "Design") %>
							</div>
						</div>
						<h3>Design</h3>
						<p>Deliver a project in which the design and construction services are contracted by a single entity known as the design–builder or design–build contractor.</p>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Service section end -->




	<section class="promo-section pt-0">
		<div class="promo-box set-bg" >
			<div class="container">
				<div class="row">
					<div class="col-lg-9 promo-text">
						<h1>In need of a <span style="color: white;">Consultant</span> for your building or home?</h1>
					</div>
					<div class="col-lg-3 text-lg-right">
					<%= link_to("Get in Touch", static_pages_about_us_path,  class: "site-btn sb-light mt-4" )%>
				</div>
				</div>
			</div>
		</div>
	</section>

