	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section start -->   
	<header class="header-area">
		<a href="home.html" class="logo-area">
			<img src="assets/logo.png" alt="">
		</a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="phone-number"><a href="Callto:0911111111" style="color: white;">+251 911XXXXXX</a></div>
		<nav class="nav-menu">
			<ul>
				<li class="scroll "><%= link_to("Home", root_path)%> </li>
				<li class="scroll "><%= link_to("About Us", static_pages_about_us_path)%> </li>
				<li class="scroll "><%= link_to("Services", static_pages_our_services_path)%> </li>
				<li class="scroll "><%= link_to("Portfolio", portofolios_path)%> </li>
				<li class="scroll "><%= link_to("Contact Us", new_contact_path)%> </li>
			</ul>
		</nav>
	</header>
	<!-- Header section end --> 