
	<!-- Header section start -->
	<header class="header-area">
		<!--<a href="home.html" class="logo-area">
			<img src="assets/logo.png" alt="">
		</a>-->
		<div class="nav-switch navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: #295498">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color: white;"></span>
            <span class="icon-bar" style="background-color: white;"></span>
            <span class="icon-bar" style="background-color: white;"></span>
          </button>

		</div>
		<div class="phone-number"><a href="Callto:0911836452" style="color: white;">+251 911836452</a></div>
		<nav class="nav-menu collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="scroll " ><%= link_to("Home", root_path )%> </li>
				<li class="scroll "><%= link_to("About Us", static_pages_about_us_path)%> </li>
				<li class="scroll "><%= link_to("Services", static_pages_our_services_path)%> </li>
				<li class="scroll "><%= link_to("Portfolio", portofolios_path)%> </li>
				<li class="scroll "><%= link_to("Contact Us", new_contact_path)%> </li>
			</ul>
		</nav>
	</header>
	<!-- Header section end -->
