<!DOCTYPE html>
<html>
  <head>
    <title>Seyoum Beyene Construction Management Consulting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'icon1.png' %>
  </head>

  <body>


     <% if current_page?(root_path) ||  current_page?(static_pages_about_us_path) || current_page?(portofolios_path) || current_page?(static_pages_contact_us_path) || current_page?(static_pages_our_services_path)  %>  
     
        <%= render '/layouts/header' %>
    
   <%end%>


    <%= yield %>

        <% if current_page?(root_path) ||  current_page?(static_pages_about_us_path) || current_page?(portofolios_path) || current_page?(static_pages_contact_us_path) || current_page?(static_pages_our_services_path) %>  
     
             <%= render '/layouts/footer' %>
    
        <%end%>

  </body>
</html>
